DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
POSTGRES_PASSWORD=
POSTGRES_DB=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM_NAME="E-Vote Nation System" # the sender name you want
SMTP_BREVO_API_KEY=
JWT_SECRET_KEY=
VOTING_RULES=You can only vote once. You cannot change your vote after submission. Voting ends on May 1st, 2025.
PAGE_ID_RULES=
PAGE_ID_VISION_MISSION=
PAGE_ID_VOTING_SHOW=
APP_API_KEY=